<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Simple Cart Example</title>
</head>
<body>
    <div class="notification-container" id="notification-container">
        <div class="notification" id="notification">
            <span id="notification-message"></span>
            <div class="loader" id="loader"></div>
        </div>
    </div>
    <div class="navbar">
        <div class="navbar-text">Simple Cart Example</div>
        <div class="cart-details">
            <span class="cart-icon">🛒</span>
            <span id="cart-count">(0 | Rs. 0)</span>
        </div>
    </div>

    <div class="container" id="product-container">
    </div>

    <script src="script.js"></script>
</body>
</html>
